
.item {
    grid-area: postOne;
    margin-bottom: 15px;
}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.likesAndMessage {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.likesAndMessage .span {

}