.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .dialog {
    margin-bottom: 10px;
}

.dialogsItems .dialog:last-child {
    margin-bottom: 0px;
}

.navLinkTwo {
    color: black;
}

.navLinkTwo:hover {
    font-weight: 700;
}

.navLinkTwo:active {
    color: #86ccea;
}

.messages {
    padding: 10px;
}

.message {
    padding: 10px;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}